# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$

# Virtual environments
venv/
env/

# IDEs
.vscode/
.idea/

# Environment-specific files
.env

# OS or editor temporary files
.DS_Store
*.swp
